.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destCard {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
  width: 100%;
  transition: all 0.1s ease-in-out;
  text-align: left;
  margin: auto;
  min-height: 210px;
}

.destCardImg {
  width: 100%;
  height: auto;
  border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0
    0;
  min-height: 130px;
}

.textSecondaryLight {
  padding-left: var(--padding);
}

.titlePrimary {
  padding: 0 var(--padding);
  height: 40px;
}

.reviewsCon {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding);
  margin-bottom: var(--margin);
  color: var(--text-light);
}

.starsCon {
  display: flex;
  gap: 3px;
}

.starIcon {
  width: 15px;
  fill: var(--text-light);
}

.viewCon {
  width: 100%;
  margin-bottom: var(--margin);
  display: flex;
  justify-content: center;
  padding: calc(var(--padding) * 2) 0;
}

.viewMore {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.viewMore a {
  color: var(--text-light);
}

@media (hover: hover) {
  .destCard:hover {
    transform: scale(1.02);
  }

  .viewMore a:hover {
    color: var(--section-name);
    text-decoration: underline;
  }
}

@media (max-width: 480px) {
  .viewMore {
    margin-bottom: calc(var(--margin) * 2);
  }

  .viewCon {
    max-width: 350px;
  }
}
