:root {
  --bg-primary: #ffffff;
  --bg-secondary: #ededed;
  --section-name: #ec8d28;
  --section-title: #2d5d76;
  --text-light: #f3ac42;
  --text-dark: #5c8297;
  --title-text: #4e555a;
  --paragraph-text: #88959c;
  --error: #ed4928;
  --margin: 10px;
  --padding: 10px;
  --border-radius: 5px;
  --gap: 10px;
  --text-shadow: #000000;
  --font-primary: "Josefin Sans", sans-serif, Arial, Helvetica, sans-serif;
  --font-secondary: "Lobster", "Brush Script MT";
  --font-company: "Righteous", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  font-family: var(--font-primary);
  text-align: center;
  cursor: default;
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

br {
  content: "";
  display: block;
  margin: 10px 0;
}

svg {
  fill: currentColor;
}
